<div class="container py-5">
  <% collection = ["Argentina", "Brasil", "Bolivia", "Chile", "Perú", "Colombia", "Puerto Rico", "Costa Rica", "Mexico", "Ecuador","Guatemala", "Uruguay", "Paraguay", "Honduras", "Cuba", "El Salvador", "Nicaragua", "Panamá","Venezuela"] %>
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add place what your visit</h3>
        <%= simple_form_for [@place, @guide] do |f| %>
          <%= f.input :guide_name, placeholder: 'Enter a guide name', required: true %>
          <%= f.input :first_name, placeholder: 'Enter a first name', required: true %>
          <%= f.input :last_name, placeholder: 'Enter a last name', required: true %>
          <%= f.input :dni, placeholder: 'Enter a dni', required: true %>
          <%= f.input :age, placeholder: 'Enter a age', required: true %>
          <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 50,
                                          end_year: Date.today.year - 10, required: true %>
          <%= f.input :phone_number, placeholder: 'example +59168548541', required: true %>
          <%= f.input :email, placeholder: 'Enter a email', required: true %>
          <%= f.input :country, as: :select, collection: collection, required: true %>
          <%= f.input :city, placeholder: 'Enter a city', required: true %>
          <%= f.input :photo, as: :file, required: true %>
          <%= f.submit class: 'btn btn-outline-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
