<div class="container">
  <h2><b>All Guides</b></h2>
  <div class="container">
    <% @guides.each do |guide| %>
      <div>
        <div>
          <%= cl_image_tag(guide.photo.key, :transformation=>[
                                            {:radius=>"max"},
                                            {:height=>200, :crop=>"scale"}
                                            ])%>
        </div>
        <div>
          <p>
          <%= guide.guide_name %>
          </p>
          <p>
            <%= guide.dni %>
          </p>
          <p>
            <%= guide.first_name %>
          </p>
          <p>
            <%= guide.last_name %>
          </p>
          <p>
            <%= guide.age %>
          </p>
          <p>
            <%= guide.country %>
          </p>
          <p>
          <%= guide.city %>
          </p>
          <p>
            <%= guide.phone_number %>
          </p>
          <p>
            <%= guide.email %>
          </p>
          <p>
            <%= guide.date_of_birth %>
          </p>
        </div>

      </div>
      <%= link_to "Delete Guide", guide_path(guide), method: :delete %> |
      <%= link_to "See Profile Guide", guide_path(guide) %>
    <% end %>
  </div>
</div>
