<div class="container">
  <%= cl_image_path(@guide.photo.key)  %>
  <h2><b><%= @guide.guide_name %></b></h2>
  <p><%= @guide.first_name %></p>
  <p><%= @guide.last_name %></p>
  <p><%= @guide.dni %></p>
  <p><%= @guide.email %></p>
  <p><%= @guide.age %></p>
  <p><%= @guide.date_of_birth %></p>
  <p><%= @guide.phone_number %></p>
  <p><%= @guide.country %></p>
  <p><%= @guide.city %></p>
</div>
