<div class="container">
  <div class="container my-4 row">
    <div class="card-guides-show rounded-2 my-3 d-inline-block col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
      <div class="row rounded">
        <div style="background-image: url(<%= cl_image_path @guide.photo.key, height: 220 %>)" id="banner-card-profile-show" class="rounded col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"></div>
        <div class="p-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h5 class="border-top pt-2"><b>Guide Username :</b></h5>
          <p><%= @guide.guide_name.capitalize %></p>
          <h5 class="border-top pt-2"><b>First Name :</b></h5>
          <p><%= @guide.first_name.capitalize %></p>
          <h5 class="border-top pt-2"><b>Last Name :</b></h5>
          <p><%= @guide.last_name.capitalize %></p>
          <h5 class="border-top pt-2"><b>Country :</b></h5>
          <p><%= @guide.country.capitalize %></p>
          <h5 class="border-top pt-2"><b>City :</b></h5>
          <p><%= @guide.city.capitalize %></p>
          <h5 class="border-top pt-2"><b>Age :</b></h5>
          <p><%= @guide.age %></p>
          <h5 class="border-top pt-2"><b>Date of Birth :</b></h5>
          <p><%= @guide.date_of_birth %></p>
          <h5 class="border-top pt-2"><b>DNI :</b></h5>
          <p><%= @guide.dni %></p>
          <h5 class="border-top pt-2"><b>Phone Number :</b></h5>
          <p><%= @guide.phone_number %></p>
          <h5 class="border-top pt-2"><b>Email :</b></h5>
          <p><%= @guide.email %></p>
        </div>
        <div class="text-center border-top col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <%= link_to "Delete Guide", guide_path(@guide), class: "btn btn-outline-danger mx-2 my-2", method: :delete, data: { confirm: "You are sure delete this profile?"} %>
          <%= link_to "Edit Profile", edit_guide_path(@guide), class: "btn btn-outline-warning mx-2 my-2" %>
        </div>
        <div class="card-footer col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <small><em class="text-muted">Profile guide created <%= distance_of_time_in_words_to_now(@guide.created_at) %> ago</em></small>
        </div>
      </div>
    </div>
    <div class="rounded my-5 d-inline-block col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
      <h3 class="text-center"><strong>Guide Service Information</strong></h3>
      <div class="bg-white box-shadow mx-3 my-5 container row rounded">
        <div class="border-end p-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <h5 class="pt-2"><b>Cost per Hour :</b></h5>
          <p>7 $</p>
        </div>
        <div class="border-end p-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <h5 class="border-top pt-2"><b>Places you Knows :</b></h5>
          <p>Samaipata, Chochis, etc.</p>
        </div>
        <div class="p-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <h5 class="border-top pt-2"><b>Guide's Residence :</b></h5>
          <p>Santa Cruz de la Sierra.</p>
        </div>
        <div class="border-end p-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <h5 class="border-top pt-2"><b>Minimum Service Hours :</b></h5>
          <p>2 hours for day.</p>
        </div>
        <div class="border-end p-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <h5 class="border-top pt-2"><b>Maximum Service Hours :</b></h5>
          <p> hours for day.</p>
        </div>
        <div class="p-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <h5 class="border-top pt-2"><b>English of the Guide :</b></h5>
          <p> Medium.</p>
        </div>
      </div>
      <hr>
      <div class="container row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="row justify-content-center">
            <div id="reviews-guide" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 p-4">
              <h3 class="text-shadow">Reviews</h3>
              <% if @guide.review_guides.empty? %>
                <small><em class="text-muted">Be the first one to review this place</em></small>
              <% end %>
              <% @guide.review_guides.each do |review| %>
                <div>
                  <% review.rating.times do %>
                    <i class="fas fa-star star-yellow"></i>
                  <% end %>
                  <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
                  <p id="review-guide-<%= review.id %>" class="mb-0 text-shadow"><%= review.comment %></p>
                  <%= link_to "Delete Review", review_guide_path(review), remote: true, method: :delete, class: "btn btn-outline-danger my-3", data: { confirm: "Are you sure delete place?"} %>
                </div>
                <hr>
              <% end %>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <div class="box-shadow bg-white rounded p-3">
                <h5 class="text-shadow">Add your review</h5>
                <%= simple_form_for([@guide, @review_guide], remote: true) do |f| %>
                  <%= f.input :comment, placeholder: "Add your review here...", required: true, class: "text-shadow" %>
                  <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating",  class: "text-shadow", input_html: { data: { controller: "jquery-bar-rating" } } %>
                  <%= f.submit class:"btn btn-outline-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
